<a href="<%= link.url %>" target="_blank" class="mt-5">
  <div class="flex items-center p-2 border border-slate-400 rounded-full w-full">
     <img src="https://gustavomaia.com/assets/img/luigi.jpg" class="h-12 w-12 border border-slate-400 rounded-full"></img>
     <span class="mx-auto"><%= link.title %></span>
  </div>
</a>
