<div>
  <img src="https://gustavomaia.com/assets/img/luigi.jpg" class="mx-auto h-24 w-24 border border-slate-400 rounded-full">
  
  <div class="font-bold mt-7 text-center">
    @<%= profile_slug %>
  </div>

  <div class="font-light text-center text-slate-400">
    <%= profile_owner.bio %> 
  </div>
</div>
