<div class="mx-auto">
  <%= render partial: 'profile_header', locals: { profile_slug: @profile_slug, profile_owner: @profile_owner } %>

  <div class="flex flex-col w-[576px] text-center mt-7">
    <% @links.each do |link| %>
      <%= render partial: 'link', locals: { link: link } %>
    <% end %>
  </div>

  <a href="<%= new_user_registration_path %>">
    <div class="flex items-center justify-evenly mt-12 p-2 mx-auto border border-slate-400 rounded-full h-12 w-52">
       <div class="h-4 w-4 bg-black"></div>
       <span>Create your linktree</span>
    </div>
  </a>
</div>


